body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  display: flex;
  flex-direction: row;
}

#editor-parent {
  width: 30%;
  height: 100vh;
}

#resize-bar {
  width: 50px;
  background-color: #ccc;
  cursor: resize;
  cursor: col-resize;
  height: 100vh;
}

#viewport-parent {
  flex: 1;
  height: 100vh;
}

#zoom-slider {
  position: absolute;
  top: 20px;
  right: 20px;
  flex: 0;
  z-index: 100;
}

#error-bar {
  position: absolute;
  top: calc(50% - 100px);
  left: 0px;
  right: 100%;

  height: 200px;
  width: 100%;
  background-color: red;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
